.container {
  display: inline-block;
  position: fixed;
  left: 20px;
  top: 20px;
  cursor: pointer;
  opacity: .5;
}
.nav {
  height: 50px;
}
.container:hover{
  opacity:1;
  /*border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #95989A;
  transition: border-color .2s ease-in-out;
 -moz-transition: border-color .2s ease-in-out;
 -webkit-transition: border-color .2s ease-in-out;
 -o-transition: border-color .2s ease-in-out;*/
}

.bar1, .bar2, .bar3 {
  opacity:.6;
  background-color: #F9B045;
  width:20px;
  height:3px;
  margin: 3px 0;
  transition: .5s;
}

/*Use later, probs*/
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    display: none;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

.drop {
  background-color: #1A334F;
  color: white;
  border-radius: 50px;
  border-radius: 0 27px 27px 27px;
  position: fixed;
  left: 20px;
  top: 56px;
  height: auto;
  display: inline-block;
  padding: 20px;
  z-index: 5;
}
.drop a {
  color: white;
  display: block;
}
