body {
  font-family: 'Questrial', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #1A334F;
  width: 100%;
  font-size: 20px;
}
html, body, #root, .app-root {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
button, textarea {
  font-size: 20px;
}
h1, button {
  font-family: 'Questrial', sans-serif;
}
p {
  font-family: 'Crimson Text', serif;
}

.page {
  padding: 20px;
  height: 80vh;
}

.bgorange {
  background-color: #F9B045;
  color: #1A334F;
}

/*Starting animation stuff! I guess*/
.svg {
  width: 100%;
  height: auto;
}

@keyframes planeguy {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-25px)}
  75%  {transform: translateY(25px)}
  100% {transform: translateY(0)}
}

.planeguy {
  animation: planeguy 10s linear infinite;
}
